<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
</head>

<body class="fade-in">
<header>
    <nav>
        <ul>
            <div class="container">
            <li>
                <a style="font-size: 20px; text-align: center;" href="/#">Par mums</a>
            </li>
            <li>
                <a style="font-size: 20px;" href="/patversmju">Patversmju saraksts</a>
            </li>
            <li>
                <a style="font-size: 20px;" href="/majdzivnieks">Mājdzīvnieks TEV!</a>
            </li>
            <li>
                <a style="font-size: 20px;" href="/kopsana">Mājdzīvnieku kopšana</a>
            </li>
            <li>
                <a style="font-size: 20px;" href="/registeraccount">Reģistrācija</a>
            </li>
            </div>
        </ul>
    </nav>
</header>
<main>  
    <section>
        <h2 style="text-align: center;">Kada kļuda notieka!</h2>
        <h3 style="text-align: center; color:#129710"><a style="text-align: center; color:#129710" href="/loginaccount">Spiediet šeit, lai ienakt lappuse "Pieteikšana"!</a></h3>
    <main class="container">
        <ul>
        <p style="text-align: center;"> <img src="{{ url_for('static', filename='photo/logo.PNG') }}" width="100"></p>
        </ul>
    </main>
    <h3 style="color:rgb(255, 255, 255)">mikudayo</h3>
</main>
<footer>
    <p style="font-size: 12px;">&copy; 2025 Valērija Miglase. Anastasija Fedina. Darja Konovalenko</p>
</footer>
</body>
</html>