<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Par mums</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
</head>

<body class="fade-in">
<header>
    <nav>
        <ul>
            <div class="container">
            <li>
                <a style="font-size: 20px; text-align: center;" class="active" href="/#">Par mums</a>
            </li>
            <li>
                <a style="font-size: 20px;" href="/patversmju">Patversmju saraksts</a>
            </li>
            <li>
                <a style="font-size: 20px;" href="/majdzivnieks">Mājdzīvnieks TEV!</a>
            </li>
            <li>
                <a style="font-size: 20px;" href="/kopsana">Mājdzīvnieku kopšana</a>
            </li>
            <li>
                <a style="font-size: 20px;" href="/registeraccount">Reģistrācija</a>
            </li>
            </div>
        </ul>
    </nav>
</header>
<main class="container">
    <ul>
    <p style="text-align: center;"> <img src="{{ url_for('static', filename='photo/happyfamily.jpg') }}" width="400"></p>
    </ul>
</main>
<main>  
    <section>
        <h2 style="text-align: center;">Palīdzam atrast draugu un par viņu rūpēties!</h2>
        <h3 style="text-align: center;"><b>Mūsu vietnē jūs atradīsiet:</b></h3>
        <p style="text-align: center;">✔ Patversmju sarakstus – izvēlieties vietu, kur atrast mājdzīvnieku.</p>
        <p style="text-align: center;">✔ Testus – uzziniet, kurš dzīvnieks jums vislabāk der.</p>
        <p style="text-align: center;">✔ Kopšanas ceļvežus – padomi par kaķu, suņu un grauzēju aprūpi.</p>
    <h3 style="text-align: center;">Atrodiet savu nākotnes mīluli un esiet gatavi par viņu rūpēties!🐾</h3>
   
    <main class="container">
        <ul>
        <p style="text-align: center;"> <img src="{{ url_for('static', filename='photo/logo.PNG') }}" width="100"></p>
        </ul>
    </main>
    <h3 style="color:rgb(255, 255, 255)">argentio canon</h3>
</main>
<footer>
    <p style="font-size: 12px;">&copy; 2025 Valērija Miglase. Anastasija Fedina. Darja Konovalenko</p>
</footer>
</body>
</html>